<%#The index action in a controller is used to display a 
summarized listing of all the items in a table. 
If there are big blog posts as each item, then the 
index would usually contain either a summary of the 
post or a few hundred characters that link to the actual post.%>

<h1>Article listing page</h1>

<table> 
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
<tbody>
<% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
            <%# Method does need to be displayed/specified in show link_to%>
            <td><%= link_to 'Show', article_path(article) %></td>
            <%#allows the editing of article path%>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <%# Destroy link gets added here%>
            <%# Rails knows to find the id of article, you can use article.id or just leave it as article%>
            <%# Specify in code that we want and is a delete request%>
            <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "You sure my nigga?" } %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%# this creates a path to create a new article on the aticles page%>
<p><%= link_to 'Create new article', new_article_path%></p>

<%= link_to 'Homepage', root_path %> |

<%= link_to 'About page', about_path %>