<%# this paetial and folder was created to house the new/signup form%>

<%# this is a form partial%>

<%# In order to display the messages, we add the 
    following code block to the edit.html.erb template.
    This is the same template as new.html%>
<%# if @article.errors.any? %>
<%#<h2> The following erros prevented the articles from being saved </h2>>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
       <%#%<li><%= msg %><%#/li>
    <%# end %>
    <%#</ul>
<%# end %>
<%# By specifying @article(instance variable) and this is the edit 
form in the route itll form a URL to submit request %>
<%= render 'shared/errors', obj: @user %>

<%= form_with(model: @user, local: true)  do |f| %>

    <p>
    <%# text_field gives a 1 line box%>
        <%= f.label :username %><br/>
        <%= f.text_field :username %>
    </p>

    <p> 
        <%= f.label :email %><br/>
    <%# text_area give an expandable box%>
        <%= f.email_field :email %>
    </p>

    <p>
    <%= f.label :password %><br/>
    <%# text_area give an expandable box%>
        <%= f.password_field :password %>
    </p>

    <p>
    <%# creates a submit button%>
        <%= f.submit %>
    </p>

<%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
<% end %>